* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

.warning {
    color: white;
    border: 3px solid red;
    border-radius: 5px;
    background-color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.warning:hover {
    color: red;
    background-color: white;
    transition: 0.3s all ease;
}

img {
    width: 100%
}

.container {
    width: 100%;
    height: 100%;
    display: none;
}

i {
    margin: auto;
}

/* LOGIN FORM */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.login-container .login-form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 80vh;
    padding: 20px;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container .login-form .top-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container .login-form .top-form img {
    width: 100%;
}

.login-container .login-form .form-content {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .login-form .form-content form {
    width: 35%;
}

.login-container .login-form .form-content form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 15px;
}

.login-container .login-form .bottom-form {
    /* background-color:aquamarine; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .login-form .bottom-form .login-btn {
    background-color: #855e3e;
    padding: 10px 50px;
    color: whitesmoke;
}

.login-container .login-form .bottom-form .login-btn:hover {
    background-color: #725031;
}

/* SIDEBAR */
.sidebar {
    background-color: #383F51;
    height: 100vh;
    width: 16%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar .sidebar-content .sidebar-item {
    margin: 0;
    padding: 0px 13px;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.sidebar .sidebar-content .sidebar-item a {
    color: white;
    display: flex;
}

.sidebar .sidebar-content .sidebar-item a i {
    margin-left: 0;
    margin-right: 15px;
}

.sidebar .top-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    height: 100px;
}

.sidebar .top-sidebar .mini-logo {
    display: none;
}

.sidebar .top-sidebar .logo img {
    width: 100%;
}

.sidebar .top-sidebar .logo {
    width: 70%;
}

.sidebar .top-sidebar .exit-button {
    width: 20%;
    margin-left: 60px;

    display: none;
}

.sidebar .top-sidebar .exit-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.sidebar .top-sidebar .exit-button i {
    color: white;
}

.sidebar .sidebar-content .sidebar-item:last-child {
    position: absolute;
    bottom: 10px;
}

.sidebar .sidebar-content .active {
    background-color: #4c5775;
    padding-left: 30px;
}

/* SIDEBAR hover */
.sidebar .sidebar-content .sidebar-item:hover {
    background-color: #4c5775;
    padding-left: 30px;
    transition: all 0.3s ease;
}

.sidebar .top-sidebar .exit-button a:hover {
    background-color: #4c5775;
    transition: all 0.3s ease;
    border-radius: 50%;
}

/* mini sidebar */
.container .mini-sidebar {
    display: none;
    z-index: 100;
}

/* HEADER */
.body {
    width: 84%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body .header-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.body .header-bar .sidebar-button {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 20px;
    display: none;
}

.body .header-bar .sidebar-button i {
    color: black;
}

.body .header-bar .bar-content {
    margin-left: 100px;
}

.body .admin-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}









/* CONTENT */
.content {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #d8d7d7;
    position: relative;
}

.content .analytics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.content .analytics .analytics-item {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content .analytics .analytics-item .analytics-icon {
    height: 20px;
    width: 20px;
}

.content .analytics .analytics-item .analytics-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content .analytics .analytics-item .analytics-content .top-content {
    font-size: 20px;
    font-weight: bold;
}

.content .analytics .analytics-item .analytics-content .bottom-content {
    font-size: 20px;
}

.content .recent-orders {
    margin-top: 50px;
    padding: 0 40px;
}

.content .recent-orders .title {
    font-size: 30px;
    font-weight: bold;
}

.content .recent-orders .recent-orders-content {
    background-color: white;
    border: 1px solid grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
}

.content .recent-orders .recent-orders-content table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.content .recent-orders .recent-orders-content table thead td {
    font-weight: bold;
    font-size: 20px;
}

.content .recent-orders .recent-orders-content table tbody td {
    height: 50px;
    border-bottom: 1px solid grey;
}

    /* PRODUCT CONTENT */
.product-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
}

.product-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

.product-content table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.product-content table tbody td {
    height: 50px;
}

.page-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.page-select .page-item {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin: 0 2.5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-select .page-item a {
    color: #11112f;
}

/* PAGE SELECT HOVER */
.page-select .page-item:hover {
    background-color: #11112f;
    transition: 0.3s all ease;
}

.page-select .page-item:hover .page-item-text {
    color: white;
    transition: 0.3s all ease;
}

/* Delete Confirmation */
.delete-confirm {
    display: none;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-confirm .confirm-top {
    width: 100%;
    background-color: grey;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.delete-confirm .confirm-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.delete-confirm .confirm-content {
    padding: 20px 0 10px 0;
    text-align: center;
}

.delete-confirm .confirm-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px;
}

.delete-confirm .confirm-btn:hover {
    background-color: #373333;
    color: white;
    transition: 0.3s all ease;
}


/* Modifying Form */
.modifying {
    display: none;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modifying .modifying-top {
    width: 100%;
    background-color: grey;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.modifying .modifying-content {
    padding: 20px 10px 10px 10px;
}

.modifying .modifying-content form {
    padding: 10px 10px;
}

.modifying .modifying-content form img {
    width: 100px;
    height: 100px;
}

.modifying .modifying-content form .form-item {
    padding: 0px 0;
}

.modifying .modifying-content form .form-image {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    overflow-y: auto;

}

.modifying .modifying-content form .form-image .form-image-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modifying .modifying-content form .form-image .form-image-item .promo_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.modifying .modifying-content form .form-image .form-image-item .item-image{
    margin-right: 20px;
}
.modifying .modifying-content form .form-image .form-image-item .btn-delete{
    margin-right: 20px;
}
.modifying .modifying-content form  .choose-img{
    margin-top: 10px;
}
.modifying .modifying-content form input {
    width: 70%;
}

.modify-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.modify-btn-container .modify-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}

.modify-btn-container .modify-btn:hover {
    background-color: #373333;
    color: white;
    transition: 0.3s all ease;
}

/* Adding Product Form */
.adding-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.adding-content {
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    width: 90%;
    /* height: 40%;
    overflow: auto; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.adding-content form {
    display: flex;
}


.adding-content .adding-content-item {
    margin: 10px 0 20px 10px;
    display: flex;
    gap: 10px;
}

.adding-content .inner-left .adding-content-item:last-child {
    display: block;
}

.size-content {
    line-height: 2;
}

.adding-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.adding-btn-container .adding-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}

/* .img-product {
    width: 60px;
    height: 60px;
} */

.adding-btn-container .adding-btn:hover {
    background-color: #11112f;
    color: white;
    transition: 0.3s all ease;
}

/* HEADER HOVER */
.body .header-bar .sidebar-button:hover {
    border-radius: 100px;
    background-color: #f1f1f1;
}


/* User */
.customer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.customer-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

.customer-content table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.customer-content table tbody td {
    height: 50px;
}


/* USER MODIFY FORM */
.user-modify-form {
    display: none;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.user-modify-form .user-modify-top {
    width: 100%;
    background-color: grey;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.user-modify-form .user-modify-content {
    padding: 20px 10px 10px 10px;
}

.user-modify-form .user-modify-content form {
    padding: 10px 10px;
}

.user-modify-form .user-modify-content form input {
    width: 60%;
    padding: 5px;
}

.user-modify-form .user-modify-content form .form-item {
    margin: 5px 0;
    padding: 2px;
}

.user-modify-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.user-modify-btn-container .user-modify-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}

.user-modify-btn-container .user-modify-btn:hover {
    background-color: #373333;
    color: white;
    transition: 0.3s all ease;
}

.customer-title h1 {
    margin-left: auto;
    margin-right: 0;
}

.customer-title .add-user-btn {
    border: 3px solid green;
    border-radius: 5px;
    background-color: green;
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    margin-right: 80px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.customer-title .add-user-btn:hover {
    color: green;
    background-color: white;
    transition: 0.3s all ease;
}


/* Adding Customer Form */
.customer-adding-form {
    display: none;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer-adding-form .customer-adding-top {
    width: 100%;
    background-color: grey;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.customer-adding-form .customer-adding-content {
    padding: 20px 10px 10px 10px;
}

.customer-adding-form .customer-adding-content .form-item input {
    padding: 10px;
}

/* Order */
.order-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.order-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

.order-content table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.order-content table tbody td {
    height: 50px;
}


/* SORT */
.order-sort {
    /* background-color: grey; */
    display: flex;
}

.sort-content {
    background-color: white;
    margin-left: 65px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sort-content h3 {
    margin-bottom: 5px;
}

.sort-content form input {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sort-submt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-submt a {
    color: white;
    background-color: green;
    border: 3px solid green;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.sort-submt a:hover {
    color: green;
    background-color: white;
    transition: 0.3s all ease;
}

/* ORDER DETAIL */
.order-detail {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    display: none;
    flex-direction: column;
    overflow: auto;
    width: 60%;
    height: 60%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.order-detail select {
    width: 20%;
    padding: 5px;
    margin: 5px 0;
}

.order-detail .close-detail {
    display: flex;
    justify-content: end;
}

.order-detail .close-detail a {
    color: black;
}

.order-print {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    width: fit-content;
}

.order-print:hover {
    color: #11112f;
    background-color: #cacacb;
    transition: 0.3s all ease;
}

.to-print h2 {
    text-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }

    .to-print, .to-print * {
        visibility: visible;
    }

    .to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}


/* RESPONSIVE CHO Desktop và Laptop */
@media (min-width: 769px) and (max-width: 1200px) {
    .sidebar .sidebar-content .sidebar-item h3 {
        display: none;
    }

    .container .mini-sidebar {
        display: none;
    }

    .sidebar .sidebar-content .sidebar-item {
        display: flex;
        justify-content: center;
    }

    .sidebar {
        width: 10%;
    }

    .body {
        width: 90%;
    }

    .content .analytics .analytics-item {
        width: 30%;
    }

    .content .analytics .analytics-item .analytics-content .top-content {
        font-size: 14px;
    }

    .sidebar .top-sidebar .mini-logo {
        display: block;
    }

    .sidebar .top-sidebar .logo {
        display: none;
        width: 30%;
    }

    .sidebar .sidebar-content .sidebar-item a i {
        margin-right: 0;
    }
}






/* RESPONSIVE CHO Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .content .analytics {
        flex-direction: column;
        align-items: flex-start;
    }

    .body .header-bar .bar-content {
        margin-left: 50px;
    }

    .container .mini-sidebar {
        display: none;
    }

    .content .analytics .analytics-item {
        margin-bottom: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .body .header-bar {
        padding: 20px;
    }

    .sidebar {
        display: none;
        position: fixed;
        width: 40%;
    }

    .sidebar .top-sidebar .mini-logo {
        display: block;
    }

    .sidebar .top-sidebar .logo {
        display: none;
    }

    .sidebar .top-sidebar .exit-button {
        display: block;
        padding-left: 20px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .content {
        height: 100vh;
    }

    .body .header-bar .sidebar-button {
        display: block;
    }

    .content .recent-orders {
        margin-bottom: 20px;
    }

    .mini-sidebar .sidebar-content .sidebar-item h3 {
        font-size: 15px;
    }
}


/* ANIMATION */
@keyframes slideToRight {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
}

.slide-to-right {
    animation-name: slideToRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

@keyframes slideToLeft {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-300px);
    }
}

.slide-to-left {
    animation-name: slideToLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}


/* CSS Thống Kê */
.statistics {
    padding: 50px 100px;
    margin-top: 20px;
}
.statistics .head-content .section-one {
    background-color: #f1f1f1;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    line-height: 2;
}
.statistics .head-content .section-one .search-btn a {
    color: white;
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid green;
    font-weight: bold;
    font-size: 14px;
}
.statistics .head-content .section-one .search-btn a:hover {
    background-color: white;
    color: green;
    transition: all 0.3s ease;
}
.statistics .head-content .section-two {
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    line-height: 2;
}

/*                      <div class="brand-info">
                            <label for="brand-select">Chọn nhãn hiệu: </label>
                            <select id="brand-select">
                                <option value="all" selected>Tất cả</option>
                            </select>
                        </div>
                        <div class="product-info">
                            <label for="product-select">Chọn sản phẩm: </label>
                            <select id="product-select">
                                <option value="all" selected>Tất cả</option>
                            </select>
                        </div>
*/

.statistics .head-content .section-three {
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    line-height: 2;
    display: flex;
}
.statistics .head-content .section-three {
    .total-info-now  {
        padding-left: 20px;
        width: 50%;
        border-right: 1px solid black;
    }
    .total-info-last {
        padding-left: 20px;
        width: 50%;
        border-left: 1px solid black;
    }
}
.statistics .head-content .section-three h3 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: black 2px solid;
    margin-bottom: 10px;
    width: fit-content;
}
#toast{
    position: fixed;
    top:32px;
    right: 32px;
    z-index: 10000;
  }

  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px #00000013;
    min-width: 400px;
    max-width: 450px;
  }
  @keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
  }
  @keyframes fadeOut{
    to{
        opacity: 0;
    }
  }
  .toast__background {
    height: 4px;
    background-color: #47d864;
    animation: background_time 3s linear;
    position: absolute;
    bottom: 0;
  }

  @keyframes background_time {
    0% {
        width: 100%;
    }

    10% {
        width: 90%;
    }

    20% {
        width: 80%;
    }

    30% {
        width: 70%;
    }

    40% {
        width: 60%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 40%;
    }

    70% {
        width: 30%;
    }

    80% {
        width: 20%;
    }

    90% {
        width: 10%;
    }

    100% {
        width: 0;
    }
  }

  .toast--success{
    border-color: #47d864;


  }
  .toast--success .toast_icon{
    color: #47d864;

  }
  .toast_body{
    flex-grow: 1;
  }
  .toast--warning{
    border-color: #ffc021;
  }
  .toast--warning .toast_icon{
    color: #ffc021;
  }
  .toast--errol{
    border-color: #ff623d;
  }
  .toast--errol .toast_icon{
    color: #ff623d;
  }
  .toast_icon{
    font-size: 24px;

  }
  .toast_icon,.toast_close{
    padding: 0 16px;

  }
  .toast_close{
    cursor: pointer;
    font-size: 20px;
    color: rgba(0,0, 0, 0.3);
  }
  .toast_title{
    font-size: 16px;
    font-weight: 600;
    color: #333;

  }
  .toast_msg{
    font-size:14px;
    color:#888;
    margin-top: 4px;
    line-height: 1.5;
  }
  .toast+.toast{
    margin-top: 24px;
  }
.text-danger{
    color: red;
}

.model-1 {
    display: none;
}