
:root {
    --font: "Roboto Condensed", sans-serif;
    --desc-color: rgb(100, 100, 100);
    --bg-color-1: #333333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
a {
    color: black;
    text-decoration: none;
}
ul, li {
    list-style-type: none;
}
body {
    position: relative;
}
.inner-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.desc {
    color: var(--desc-color);
}
.title-content-center {
    text-align: center;
    margin: 30px 0;
}
.title-content-left {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
}

/* Margin-bottom */
.small-margin-bottom {
    margin-bottom: 10px;
}
.large-margin-bottom {
    margin-bottom: 20px;
}
.very-large-margin-bottom {
    margin-bottom: 40px;
}
.register-btn {
    margin-top: 10px;
    padding: 7px 20px;
    font-size: 12px;
    background-color: red;
    color: white;
    border: 2px solid red;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.login-btn {
    margin-top: 10px;
    padding: 7px 20px;
    font-size: 12px;
    background-color: green;
    color: white;
    border: 2px solid green;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
/* INFOR_CLIENT */
/* INFOR_CLIENT */
.body-content>.row{
    width: 90%;
    margin: 50px auto 200px;
    display: flex;
}
.row .col-account{
    width: 70%;
}
.row .col-account .table-order .table{
    margin-top: 20px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.304);
    text-align: center;
    border-spacing: 0;
}
.row .col-account .table-order .table .tHead{
    background-color: #33333346;
    padding: 10px;
}
.row .col-account .table-order .table .tHead th{ 
    padding: 10px 10px;
    font-size: 17px;
}
.row .col-account .table-order .table tr td{
    padding: 10px 0;
    color: #33333382;
    font-style: italic;
}
.row .col-infor{
    padding:  20px 0;
    margin-left: 20px;
}
.row .col-infor .account{
    border: solid 1px rgba(0, 0, 0, 0.304);
    padding: 20px;
   
}
.row .col-infor .account h3{
    margin-bottom: 30px ;
}
.row .col-infor .account .infor-client{
    line-height: 30px;
}
.row .col-infor .account .infor-client i{
    margin-right: 5px;
}
.btn-update{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 5px;
}
.btn-update:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
}
.row .col-infor .change-pass a{
    color: black;
}
.row .col-infor .change-pass a:hover{
    color: red;
    border-bottom: solid 1px red;
} 
.card-changepass{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 400px;
    transition: height .5s;
}
.open{
    height: 550px;
}
.card-changepass .form-box{
    width: 100%;
}

.card-changepass .newpass{
    transform: translateX(400px);
    position: absolute;
    transition: all .5s;
}
.card-changepass .form-box i{
    text-align: center;
    width: 100%;
    font-size: 70px;
    margin-top: 10px;
}
.card-changepass h2{
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}
.card-changepass .form-group{
    width: 70%;
    margin: 0 auto;
}
.card-changepass .input-box{
  border-bottom:solid 2px #162938;
  position: relative;
  margin-bottom: 15px;
}
.card-changepass .input-box label{
    position: absolute;
    pointer-events: none;
    top: 40%;
    left:5px;
    font-size: 17px;
    color: #162938;
    transition: all .5s;
    font-weight: 500;
}
.card-changepass .input-box input:focus~label,.card-changepass .input-box input:valid~label{
    top: -10%;
}
.card-changepass input{
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    margin: 10px 0 0;
    border: none;
    font-size: 17px;
    
}
.input-box input:focus{
    outline: none;
}
.card-changepass .next-icon{
    color: white;
    background-color: black;
    width: 100px;
    height: 100px; 
    text-align: center;
    line-height: 140px;
    margin: 10px auto;
    border-radius: 50%;
}
.card-changepass .next-icon:hover{
    background-color: white;
    color: #000;
    border: solid 2px black;
}
.card-changepass span{
    margin-top: 10px;
}
.card-changepass .iclose{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    border: solid 2px black;
    border-top: none;
    border-right: none;
    padding: 0 20px;
    border-bottom-left-radius: 30px;
    background-color: black;
    color: white;
}
.card-changepass .success{
    position: absolute;
    transform: translateX(500px);
    transition: all .5s;
    text-align: center;
    margin: 30% 0;
    line-height: 50px;
    font-size: 40px;
}
.card-changepass .success i{
    margin-bottom: 20px;
}
.address .row{
    width: 90%;
    margin: 30px 0 50px;
    display: flex;
}
.address {
    width: 70%;
    margin: 20px auto;
}
.address .page-back a{
    color: black;
}
.address .page-back a i{
    margin-right: 10px;
}
.row .enter-address{
    width: 50%;
}
.row .enter-address p{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.row .enter-address .enter-input{
    margin-bottom: 20px;
}
.row .enter-address .enter-input label{
    display: block;
}
.row .enter-address .enter-input input{
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
}
.row .export-address{
    width: 50%;
    padding-left:50px ;
}
.row .export-address>p{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.row .export-address .form-address{
    padding-bottom: 20px;
    border-bottom: 1px solid #bebebe;
    position: relative;
    
}
.row .export-address .form-address p{
    line-height: 30px;
    margin-right: 45px;
}
.row .export-address .form-address .address-default{
    margin-top: 5px;
}
.row .export-address .form-address .btn-delete{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
}
.row .export-address .form-address .btn-fix{
    position: absolute;
    top: 40px;
    right: 0;
    width: 10%;
}
.fix-infor .form-group{
    margin-top: 10px;
}
.fix-infor .form-group .enter-input{
    margin-bottom: 10px;
}
.fix-infor .form-group .enter-input label{
    display: block;
}
.fix-infor .form-group .enter-input input{
    width: 100%;
    padding: 3px 10px;
}
/* PAGE_PAYMENT */
.payment-page{
    display: flex;
    margin-left: 50px;
}
.payment-page .Infor-Client{
    width: 100%;
    padding: 30px 0;
    margin-bottom: 70px;
}
.payment-page .Infor-Client .main__content{
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.Infor-Client .main__content .col-two{
    width: 50%;
}
.Infor-Client .main__content .section__header{
    margin-bottom: 20px;
}
.Infor-Client .main__content .section__content{
width: 100%;
}
.Infor-Client .main__content .section__content .field-input{
    margin-bottom: 10px;
    position: relative;
}
.Infor-Client .main__content .section__content .field-input label{
    display: block;
    color: #333333;
    position: absolute;
    top:5px;
    left: 10px;
    font-size: 13px;
}
.Infor-Client .main__content .section__content .field-input input,.Infor-Client .main__content .section__content .field-input select{
    width: 100%;
    padding: 25px 5px 5px;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
    font-size: 17px;
}
.Infor-Client .main__content .col-two .payment{
    padding:0 30px;
}
.col-two .payment .payment__header{
    margin-bottom: 20px;
}
.col-two .payment .payment__content{
    width: 100%;
    border: solid 3px #3333336d;
    border-bottom: none;
    border-radius: 5px;
}
.col-two .payment .payment__content .payment-card{
    padding: 20px 5px;
    color: #545452;
    font-size: 18px;
    /* */
    border-bottom: solid 3px #33333369;
}
.payment-page .bill{
    width: 100%;    
}
.bill .oder-list{
    width:100%;
    background-color: #F8F8F8;
    height: 100%;
    border-left:solid 2px #837b7bcc;
    padding: 20px 50px 0;
}
.bill .oder-list .oder-header{
    letter-spacing: 1px;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #837b7bcc;


    color: #333;
}
.bill .oder-list .oder-header h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.bill .oder-list .products__list{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: solid 2px #837b7bcc;
}

.bill .oder-list .products__list .product_item .product__image{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    position: relative;
}
.bill .oder-list .products__list .product_item .product__image::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px rgba(0,0,0,.1) solid;
    z-index: 2
}
.bill .oder-list .products__list .product_item .product__image img{
    width: 100%;
    height: 100%;
}
.bill .oder-list .products__list .product_item .product__name{
    padding: 10px 30px;
}
.bill .oder-list .products__list .product_item .product__name .product{
    display: block;
    margin-bottom: 10px;
}
.bill .oder-list .products__list .product_item .product__name  .psize{
    color:#6f6f6f;
}
.bill .oder-list .products__list .product_item .product__name .product_quantity{
    color:#6f6f6f;
}
.bill .oder-list .products__list .product_item .product__sell .name{
    font-size: 18px;
    font-weight: 800;
}
.bill-total .column2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #6f6f6f;
}
.bill-total .bill-total__quantity{
    padding-bottom: 15px;
    border-bottom: solid 2px #837b7bcc;
}
.bill-total .bill-total__payall{
    font-size: 20px;
}
.bill-total .bill-total__payall .allsum{
    color: #2a9dcc;
}
.pay-card,.pay-bank{
    background-color: #F8F8F8;
    margin: 20px -5px -20px ;
    padding: 10px 5px;
}
.pay-card .payforcard .input-group{
    margin-bottom: 10px;
}

.pay-card .payforcard .input-group label{
    display: block;
    font-size: 13px;
}

.pay-card .payforcard .input-group input{
    padding: 5px 10px;
    margin-top: 5px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(65, 63, 63);
}
.pay-bank{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
}
.pay-card .payforcard .input-group {
    font-size: 13px;
}
.pay-bank .name_bank{
    margin-bottom: 20px;
}
.oder-list .button-order{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.oder-list .button-order .btn-order{
    cursor: pointer;
    background-color: #357ebd;
    border-color: #2f71a9;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: .98em 1.7em;
    text-align: center;
}
.oder-list .button-order .btn-order:hover{
    background-color: #2a6395;
    border-color: #225179;
    color: #fff;
}
#non-check{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.see-bill{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 100;
   transform: translate(-50%,-50%);
   width:700px;
   height: 720px;
   background-color: white;
   border: solid 2px black;
   border-radius: 6px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   padding: 20px;
   overflow-y: auto;
   background-color: #F8F8F8;
}
.see-bill h3{
    text-align: center;
    margin: 10px 0 20px;

}
.see-bill .bill-content{
    margin-left: 20px;
    line-height: 25px;
}
.see-bill .product_item .product__image{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    position: relative;
}
.see-bill .product_item .product__image::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px rgba(0,0,0,.1) solid;
    z-index: 2
}
.see-bill .product_item .product__image img{
    width: 100%;
    height: 100%;
}
.see-bill .product_item .product__name{
    padding: 10px 30px;
}
.see-bill .product_item .product__name .product{
    display: block;
    margin-bottom: 10px;
}
.see-bill .product_item .product__name  .psize{
    color:#6f6f6f;
}
.see-bill .product_item .product__name .product_quantity{
    color:#6f6f6f;
}
.see-bill .product_item .product__sell .name{
    font-size: 18px;
    font-weight: 800;
}
.see-bill .button-order{
    display: flex;
    justify-content: end;
}
.see-bill .button-order .btn-confirm{
    cursor: pointer;
    background-color: #357ebd;
    border-color: #2f71a9;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: .98em 1.7em;
    text-align: center;
}
.see-bill .button-order .btn-confirm:hover{
    background-color: #2a6395;
    border-color: #225179;
    color: #fff;
}
.see-bill .iclose{
    position: absolute;
    top:0;
    right: 0;
    font-size: 30px;
    transform: translateX(0);
    border: solid 2px black;
    border-top:none ;
    border-right:none ;
    padding: 0 20px;
    border-bottom-left-radius:30px ;
    background-color: black;
    color: white;
}

