header .inner-wrap .inner-user .user .parent .child .child-login:hover {
    font-weight: bold;
}
header .inner-wrap .inner-user .user .parent .child .child-register:hover {
    font-weight: bold;
}
header .inner-wrap .inner-user .user .parent:hover .child {
    display: block;
}
.section-one .inner-wrap .inner-content .menu-1 > li > a:hover {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 3px solid white;
    transition: all 0.3s;
}

.sidebar .menu-1 > li > a:hover {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 3px solid white;
    transition: all 0.3s;
}
.section-six .inner-content .inner-items .inner-box .inner-item .read-more i:hover {
    background-color: red;
    transition: all 0.8s;
}
.footer .inner-wrap .inner-content ul li:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    transition: all 0.3s;
}
.user-content-selection .inner-content .right-card .exit-form:hover {
    font-weight: bold;
    font-size: 22px;
    transition: all 0.3s;
}
/* Button */
.register-btn:hover {
    background-color: white;
    color: red;
    transition: all 0.4s;
}
.login-btn:hover {
    background-color: white;
    color: green;
    transition: all 0.4s;
}
.exit-form:hover .user-content-selection {
    display: none;
}