.user-content-selection {
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    justify-items: center;
    display: none;
    background-color: #33333333;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-content-selection .inner-content {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    margin-top: 8%;
    animation: slideDown 0.5s ease-out forwards;
}
.user-content-selection .inner-content .left-card {
    width: 100%;
    padding: 25px 40px;
    background-color: #333333;
    color: #F0F0F0;
    align-content: center;
    justify-items: center;
    line-height: 1.5;
}
.user-content-selection .inner-content .left-card .inner-title {
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}.user-content-selection .inner-content .left-card .inner-title:hover {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    transition: all 0.1s;
}
.user-content-selection .inner-content .left-card .inner-desc {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-content-selection .inner-content .left-card .inner-end-content {
    text-align: center;
}
.user-content-selection .inner-content .right-card {
    width: 100%;
    position: relative;
    padding: 20px;
    align-content: center;
    justify-items: center;
}
.user-content-selection .inner-content .right-card .exit-form {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 18px;
    cursor: pointer;
}
.user-content-selection .inner-content .right-card .inner-title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: fit-content;
}
.user-content-selection .inner-content .right-card .inner-notice {
    display: flex;
    align-content: center;
}
.user-content-selection .inner-content .right-card .inner-notice .desc {
    font-size: 14px;
    margin-right: 12px;
    align-content: center;
}

.user-content-selection .inner-content .right-card input {
    padding: 4px 10px;
    margin-top: 5px;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 5px;
    border: 2px solid gray;
    align-items: center;
}
/* .user-content-selection .inner-content .right-card input:hover {
    padding: 5px 12px;
} */
.user-content-selection .inner-content .right-card label {
    font-size: 17px;
    font-weight: bold;
}
.user-content-selection .inner-content .right-card .register-form {
    display: flex;
    justify-items: center;
    align-content: center;
}
.user-content-selection .inner-content .right-card .register-form .left-form {
    width: 50%;
    padding-right: 5px;
}
.user-content-selection .inner-content .right-card .register-form .right-form {
    width: 50%;
    padding-left: 5px;
}

.text-danger{
    color:red;
    font-size: 14px;
    margin: 3px 0;
}
