/* PC 1024px*/
@media (min-width: 1024px) and (max-width: 1260px) {
  .user-content-selection .inner-content{
    width: 70%;
    height: 50%;
  }
}

/* Tablet and mobile 1023px*/
@media (min-width: 740px) and (max-width: 1023px) {
  .row .export-address .form-address .btn-update{
    position: static;
    width: 20%;
  }
  /* Cục login-resgister */
  .user-content-selection {
    .inner-content {
      height: fit-content;


      .left-card {
        display: none;
      }

      .right-card {
        width: 100%;
        height: 100%;
        align-content: unset;
        justify-items: center;
        padding: 50px 50px;

        .card-content {
          form .register-form {
            display: flex;
            flex-direction: column;

            input {
              width: 100%;
            }
          }

          form .register-form .left-form {
            width: 100%;
            padding: 0;
          }

          form .register-form .right-form {
            width: 100%;
            padding: 0;
          }
        }

      }
    }
  }

  /* Cục hiển thị thông tin sản phẩm */
  .detail-background {
    .detail-product {
      width: 80%;
      h2 {
        font-size: 20px;
      }

      .detail-flex {

        .details-pro {
          h1 {
            font-size: 18px;
          }
          .details-pro__content {
            p {
            }
            .product__price-old {
              font-size: 16px;
            }
            .product__price-current {
              font-size: 18px;
            }
            .product-quantity {
              display: flex;
              justify-content: center;
              
              span {
                font-size: 16px;

              }
              input {
                
                padding: 5px 10px;
              }
              button {
                width: fit-content;
                border: 2px solid black;
                
                padding: 2px 15px;
              }
            }
          }
        }

        .image {
          .main-img {
            height: fit-content;
          }
          .detail-product_content {
          }
        }
      }
    }
  }
  .detail-product .product-pay{
    align-items: normal;

  }
  .detail-product .product-pay .pay-total {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    width: 40%;
    .pay-all {
      font-size: 18px;
    }
  }

  .detail-product .product-pay .cart-pay {
    width: 60%;
    display: flex;
    margin-right: 40px;
    justify-content: end;

  }
  .detail-product .product-pay .cart-pay .btn-pay {
      margin-left: 6px;
      border-radius: 25px;
      font-size: 12px;
      font-weight: 500;
      background-color: #912126;
      color: #edf8ff;
      border: none;
      cursor: pointer;
      transition: all 0.5s;
  }

  /* Trang thanh toán */
  .payment-page {
    flex-direction: column;
    margin: 0;
    padding: 10px 30px;

    .Infor-Client {
      margin-bottom: 0;

      .col-two {
        .payment .payment__content {
          width: 100%;
          border: solid 2px #3333336d;
          border-bottom: none;
          border-radius: 5px;

          .payment-card {
            width: 100%;
          }
        }
      }
    }

    .bill {

      .oder-list {
        width: 100%;
        background-color: #F8F8F8;
        height: 100%;
        border: solid 2px #837b7bcc;
        padding: 20px 50px 20px 50px;
      }
    }
  }

  .payment-page .bill {
    padding-top: 50px;
    margin-bottom: 100px;
    border-top: 2px solid #ddd;
  }

  /* Cục thông tin trogn mục cài đặt */
  .body-content>.row {
    width: 100%;
    margin: 50px auto 200px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    .col-account {
      width: 100%;
      /* Chiều rộng khối hiển thị */
      max-width: 100%;
      /* Không vượt quá chiều rộng container cha */
      overflow-x: auto;
      /* Thanh cuộn ngang tự động */
      overflow-y: hidden;
      /* Ẩn thanh cuộn dọc nếu không cần */
      white-space: nowrap;
      /* Không cho phép ngắt dòng để dữ liệu nằm ngang */
    }

    .col-infor {
      margin: 0;
    }
  }
  #showProductCode {
    .wrap-content {
      width: fit-content  ;

    }
  }


}





/* Tablet 740 - 1023*/
@media (min-width: 740px) and (max-width: 1023px) {
  .card-changepass{
    width: 50%;
  }
  /* Cục login-resgister */
  .user-content-selection {
    .inner-content {
      height: fit-content;


      .left-card {
        display: none;
      }

      .right-card {
        width: 100%;
        height: 100%;
        align-content: unset;
        justify-items: center;
        padding: 50px 50px;

        .card-content {
          form .register-form {
            display: flex;
            flex-direction: column;

            input {
              width: 100%;
            }
          }

          form .register-form .left-form {
            width: 100%;
            padding: 0;
          }

          form .register-form .right-form {
            width: 100%;
            padding: 0;
          }
        }

      }
    }
  }

  /* Cục hiển thị thông tin sản phẩm */
  .detail-background {
    .detail-product {
      width: 80%;

      .detail-flex {
        .details-pro {
          .details-pro__content {
            p {
            }
          }
        }

        .image {
          .main-img {
            height: fit-content;
          }
        }
      }
    }

  }



  .detail-product .product-pay .pay-total {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    width: 40%;
  }

  .detail-product .product-pay .cart-pay {
    width: 60%;
    display: flex;
  }

  /* Trang thanh toán */
  .payment-page {
    flex-direction: column;
    margin: 0;
    padding: 10px 30px;

    .Infor-Client {
      margin-bottom: 0;

      .col-two {
        .payment .payment__content {
          width: 100%;
          border: solid 2px #3333336d;
          border-bottom: none;
          border-radius: 5px;

          .payment-card {
            width: 100%;
          }
        }
      }
    }

    .bill {

      .oder-list {
        width: 100%;
        background-color: #F8F8F8;
        height: 100%;
        border: solid 2px #837b7bcc;
        padding: 20px 50px 20px 50px;
      }
    }
  }

  .payment-page .bill {
    padding-top: 50px;
    margin-bottom: 100px;
    border-top: 2px solid #ddd;
  }

  /* Cục thông tin trogn mục cài đặt */
  .body-content>.row {
    width: 100%;
    margin: 50px auto 200px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    .col-account {
      width: 100%;
      /* Chiều rộng khối hiển thị */
      max-width: 100%;
      /* Không vượt quá chiều rộng container cha */
      overflow-x: auto;
      /* Thanh cuộn ngang tự động */
      overflow-y: hidden;
      /* Ẩn thanh cuộn dọc nếu không cần */
      white-space: nowrap;
      /* Không cho phép ngắt dòng để dữ liệu nằm ngang */
    }

    .col-infor {
      margin: 0;
    }
  }
  #showProductCode {
    .wrap-content {
      width: fit-content  ;

    }
  }

  /* dau trang */

  .inner-wrap {
    width: 100%;
    padding: 0 12px;
  }

  header .inner-wrap .inner-content {
    padding: 14px;

  }

  header .inner-wrap .inner-search {
    line-height: 36px;
  }

  header .inner-wrap .inner-user .cart .parent>div {
    display: none;
  }

  /* menu */
  .section-one {
    display: none;
  }

  /* product */

  .grid__row {
    margin: 0;
  }

  /* .grid__col-9 {
    margin: 0;
  }
} */
  .grid__col-3 {
    display: none;
  }

  .grid__col-9 {
    width: 100%;
    padding: 0 35px;
  }

  /* footer */
  .footer .inner-wrap .inner-content {
    margin: 20px 0;
  }

  .footer .inner-wrap .inner-content .inner-left,
  .footer .inner-wrap .inner-content .inner-mid-1,
  .footer .inner-wrap .inner-content .inner-mid-2,
  .footer .inner-wrap .inner-content .inner-right {
    width: 50%;
  }

  .footer .inner-wrap .inner-content .inner-mid-1 {
    position: relative;
    top: -35px;
  }

  .footer .inner-wrap .inner-content .inner-right {
    margin-top: 24px;
  }

  /* copyright */
  .inner-footer .inner-wrap .inner-content {
    display: block;
    text-align: center;
  }

  .inner-footer .inner-wrap .inner-content .inner-left {
    width: 100%;
  }

  .inner-footer .inner-wrap .inner-content .inner-right span {
    display: none;
  }

  .inner-footer .inner-wrap .inner-content .inner-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .inner-footer .inner-wrap .inner-content .inner-left div {
    margin-bottom: 4px;
  }

  .inner-footer .inner-wrap .inner-content .inner-right ul li i {
    margin: 8px 14px 0;
  }
  .cart-popup-content .cart-table{
    overflow-x: scroll;
  }

}

/* Mobile 739px*/
@media (max-width: 739px) {
  .card-changepass{
    width: 50%;
  }

  .row .export-address .form-address .btn-update{
    position: static;
    width: 20%;
  }
  .address .row{
    display: block;
    margin: 20px auto;
    width: 70%;
  }
  .row .enter-address{
    width: 100%;
  }
  .row .export-address{
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .body-content> .row{
    display: block;
    width: 100%;
  }
  .body-content .row .col-account{
    width: 100%;
  }
  .body-content .row .col-account .table-order{
    overflow-x: scroll;
  }
  .body-content .row .col-infor{
    margin: 0;
  }
  /* login */
  .user-content-selection .inner-content {
    width: 100%;
  }
  .user-content-selection .inner-content .right-card .register-form{
    display: block;
  }
  .user-content-selection .inner-content .right-card .register-form .left-form{
    width: 100%;
  }
  .user-content-selection .inner-content .right-card .register-form .right-form{
    width: 100%;
  }
  .user-content-selection .inner-content input{
    width: 100%;
  }

  .user-content-selection .inner-content .left-card {
    display: none;
  }

  .user-content-selection .inner-content .right-card {
    width: 100%;
  }

  .user-content-selection .inner-content .right-card .group-form {
    margin-bottom: 12px;
  }

  header .inner-wrap .inner-user .user .parent .child {
    right: 0;
  }

  header .inner-wrap .inner-user .user .parent .child {
    min-width: 140px;
    top: 130%;
    right: -2px;
  }

  /* end login */


  .section-two {
    display: none;
  }


  header .inner-wrap .inner-menu_mobile i {
    display: block;
  }

  .grid__row {
    margin: 0;
  }

  .grid__col-9 {
    margin: 0;
  }

  /* dau trang */
  header {
    position: unset;
  }

  .inner-wrap {
    width: 100%;
  }

  .inner-content .section-three .inner-wrap .outstandingproducts .product__item {
    width: 50%;
  }

  header .inner-wrap .inner-user {
    width: auto;
  }

  header .inner-wrap .inner-search {
    width: auto;
    /* display: none; */
  }

  header .inner-wrap .inner-user .cart .parent>div {
    display: none;
  }

  header .inner-wrap .inner-user .user .parent .icon-name>div {
    display: none;
    margin: 0;
  }

  header .inner-wrap .inner-user .user,
  .cart {
    margin-right: 12px;
  }

  header .inner-wrap .inner-menu_mobile i {
    position: absolute;
    left: 20px;
    /* top: 2%; */
  }

  header .inner-wrap .inner-logo img {
    /* width: 100px; */
    display: none;
  }

  /* search */

  header .inner-wrap .inner-search .search {
    width: auto;
    margin-right: 10px;
  }

  header .inner-wrap .inner-search .search {
    height: 26px;
  }

  header .inner-wrap .inner-search select {
    display: none;

  }

  header .inner-wrap .inner-search #price-toggle {
    display: none;
  }

  .list-sort>li {
    min-width: 150px;
  }

  /* menu */
  .section-one {
    display: none;
  }

  /* tim kiem */
  .total-product {
    display: none;
  }

  .sort-by {
    display: none;
  }

  /* san pham */
  .grid__col-3 {
    display: none;
  }

  .grid__col-9 {
    width: 100%;
    margin: 0 16px;
  }

  .grid_col-4 {
    width: 50%;
  }

  .inner-content .section-six .inner-content .inner-items .inner-box {
    width: 50%;
  }

  .inner-content .section-six .inner-content .inner-items .inner-box:last-child {
    display: none;
  }

  /* chi tiet san pham */
  .image .main-img {
    height: auto;
  }

  .detail-background  .detail-product {
    width: 98%;
  }

  .detail-product .product-pay .cart-pay .btn-pay {
    padding: 8px 11px;
  }

  .details-pro__content .product-quantity input,
  .details-pro__content .product-quantity button {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .detail-product .product-quantity {
    align-items: center;
  }

  .details-pro__content .product__bonus {
    /* display: none; */
  }

  .details-pro__content > p {
    display: none;
  }

 
  .detail-product .product-pay .cart-pay {
    margin-right: 10px;
  }

  .details-pro {
    margin-right: 8px;
  }

  .promo-image .image__item {
    height: auto;
    padding: 0;
  }

  .cart-popup-content {
    width: 100%;
  }

  /* pay */

  .main__content h2 {
    font-size: 21px;
  }

  .payment-page {
    flex-direction: column;
    margin: 0;
    padding: 0 12px 20px;
  }

  .Infor-Client .main__content .col-two .payment {
    padding: 0 8px;
  }

  .payment-page .Infor-Client {
    margin: 0;
  }

  .bill .oder-list {
    padding: 10px 10px 0;
  }

  .see-bill {
    width: 100%;
    border: none;
  }

  /* footer */
  .footer .inner-wrap .inner-content .inner-left,
  .footer .inner-wrap .inner-content .inner-mid-1,
  .footer .inner-wrap .inner-content .inner-mid-2,
  .footer .inner-wrap .inner-content .inner-right {
    width: 100%;
  }

  /* copyright */
  .address {
    width: 100%;
  }

  .inner-footer .inner-wrap .inner-content {
    display: block;
    text-align: center;
  }

  .inner-footer .inner-wrap .inner-content .inner-left {
    width: 100%;
  }

  .inner-footer .inner-wrap .inner-content .inner-right span {
    display: none;
  }

  .inner-footer .inner-wrap .inner-content .inner-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .inner-footer .inner-wrap .inner-content .inner-left div {
    margin-bottom: 4px;
  }

  .inner-footer .inner-wrap .inner-content .inner-right ul li i {
    margin: 8px 14px 0;
  }

  .footer .inner-wrap .inner-content {
    margin-left: -20px;
  }

  #showProductCode .wrap-content {
    padding: 30px;
  }

}