/* Mobile nhỏ */
@media (max-width: 480px) {
    /* CSS cho điện thoại nhỏ */
    /* Slide bar */
    .section-one ul > li:last-child {
      display: block;
    }

    .section-one .inner-wrap {
      justify-content: flex-end;
      margin-right: 20px;
    }

    .section-one ul > li {
      display: none;
    }

    /* Product */
    .inner-content .section-three .inner-wrap .inner-content .inner-products .inner-box {
      width: 100%;
    }
    .inner-content .section-four .inner-wrap .inner-content .inner-products .inner-box {
      width: 100%;
    }
    .inner-content .section-five .inner-wrap .inner-content .inner-products .inner-box {
      width: 100%;
    }

    .sidebar {
      width: 100%;
    }
    header .inner-wrap {
      width: 100%;
    }
    header .inner-wrap .inner-user {
      display: none !important;
    }
    header .inner-wrap .inner-search {
      width: 100%;
    }
    header .inner-wrap .inner-logo {
      display: none;
    }


    /* Bài viết */
  .inner-content .section-six .inner-content .inner-items .inner-box:last-child {
    display: none;
  }
  .inner-content .section-six .inner-content .inner-items .inner-box:first-child {
    display: none;
  }
  .inner-content .section-six .inner-content .inner-items .inner-box {
    width: 100%;
  }

  /* Chính sách & hướng dẫn sử dụng */
  .footer .inner-left {
    display: none;
  }
  .footer .inner-wrap .inner-content .inner-mid-1 {
    width: 100%;
  }
  .footer .inner-wrap .inner-content .inner-mid-2 {
    width: 100%;
  }
  .footer .inner-wrap .inner-content .inner-right {
    display: none;
  }


  }

  /* Tablet */
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS cho tablet */
    .section-one ul > li:last-child {
      display: block;
    }

    .section-one .inner-wrap {
      justify-content: flex-end;
      margin-right: 20px;
    }

    .section-one ul > li {
      display: none;
    }

    /* Product */
    .inner-content .section-three .inner-wrap .inner-content .inner-products .inner-box {
      width: 50%;
    }
    .inner-content .section-four .inner-wrap .inner-content .inner-products .inner-box {
      width: 50%;
    }
    .inner-content .section-five .inner-wrap .inner-content .inner-products .inner-box {
      width: 50%;
    }

    /* User tools */
    header .inner-wrap .inner-user .cart {
      display: none;
    }

    /* Login/SignUp */
    .user-content-selection .inner-content .left-card {
      display: none;
  }
  .user-content-selection .inner-content .right-card {
      width: 100%;
  }
  .user-content-selection .inner-content {
      margin-top: 20%;
      padding: 50px;
      width: 60%;
  }

  /* Bài viết */
  .inner-content .section-six .inner-content .inner-items .inner-box:last-child {
    display: none;
  }
  .inner-content .section-six .inner-content .inner-items .inner-box {
    width: 50%;
  }

  /* Chính sách & hướng dẫn sử dụng */
  .footer .inner-left {
    display: none;
  }
  .footer .inner-wrap .inner-content .inner-mid-1 {
    width: 40%;
  }
  .footer .inner-wrap .inner-content .inner-mid-2 {
    width: 60%;
  }
  .footer .inner-wrap .inner-content .inner-right {
    display: none;
  }

  }

  /* Desktop và Laptop */
  @media (min-width: 769px) and (max-width: 1200px) {
    /* CSS cho laptop và desktop */
    /* Product */
    .inner-content .section-three .inner-wrap .inner-content .inner-products .inner-box {
      width: 33.33%;
    }
    .inner-content .section-four .inner-wrap .inner-content .inner-products .inner-box {
      width: 33.33%;
    }
    .inner-content .section-five .inner-wrap .inner-content .inner-products .inner-box {
      width: 33.33%;
    }

    /* User-tools */
    header .inner-wrap .inner-user .cart {
      display: none;
    }


    /* Menu */
    #all_notice_products {
      display: none;
    }
    #all_accessory_products {
      display: none;
    }


    /* Login/SignUp Form */

    .user-content-selection .inner-content .left-card {
      width: 100%;
    }
    .user-content-selection .inner-content .right-card {
      width: 100%;

  }
  /* Bài viết */
  .inner-content .section-six .inner-content .inner-items .inner-box:last-child {
    display: none;
  }
  .inner-content .section-six .inner-content .inner-items .inner-box {
    width: 50%;
  }

  /* Chính sách & hướng dẫn sử dụng */
  .footer .inner-left {
    display: none;
  }
  .footer .inner-wrap .inner-content .inner-mid-1 {
    width: 30%;
  }
  .footer .inner-wrap .inner-content .inner-mid-2 {
    width: 40%;
  }
  .footer .inner-wrap .inner-content .inner-right {
    width: 30%;
  }

  }

  /* Màn hình lớn */
  @media (min-width: 1201px) {
    /* CSS cho màn hình lớn */
  }

